
{% extends "home-base.html"%}
{% block title %}Add Courses{% endblock %}
{% block page_content%}

  <!-- Page Content -->
  <div class="container">
    <h1 class="mt-5"><i class="fa fa-music" aria-hidden="true"></i> Add Planets:</h1>
    <form action="/planets-directory/add" method="post">
      <div class="form-group">
        <label>Planet</label>
        <input class="form-control" type="text" name="planet" placeholder="Planet" required="true">
      </div>
      <div class="form-group">
       <label>Moon Number</label>
       <input class="form-control" type="text" name="moon_number" placeholder="Moon Number" required="true">
     </div>
      <div class="form-group">
        <label>Description</label>
        <textarea class="form-control" name="description" placeholder="Description" required="true"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Add Planet</button>
    </form>
  </div>
