{% extends "home-base.html"%}
{% block title %}Edit Planet{% endblock %}
{% block page_content%}

  <!-- Page Content -->
  <div class="container">
    <h1 class="mt-5"><i class="fa fa-music" aria-hidden="true"></i> Edit Planet:</h1>
    <form action="/planets-directory/edit/{{planet.id}}" method="post">
      <div class="form-group">
        <label>Planet</label>
        <input class="form-control" type="text" name="planet" value="{{planet.planet}" required="true">
      </div>
     <div class="form-group">
     <label>Moon Number</label>
     <input class="form-control" type="text" name="moon_number" value="{{planet.moon_number}}" required="true">
     </div>
      <div class="form-group">
        <label>Description</label>
        <textarea class="form-control" name="description" required="true">{{planet.description}}</textarea>
      </div>
      <button type="submit" class="btn btn-primary">Save Changes</button>
    </form>
  </div>

{% endblock%}
