{% extends "home-base.html"%}
{% block title %}All Planets{% endblock %}
{% block page_content%}

  <!-- Page Content -->
  <div class="container">
    <h1 class="mt-5"><i class="fa fa-music" aria-hidden="true"></i> Planets:</h1>
    <div class="row bottom-margin">
      <a href="/planets-directory/add" class="btn btn-primary" role="button" aria-disabled="true">Add Planets</a>
    </div>
    {% if planets %}
      <table class="table">
        <thead>
          <tr>
            <th>Planet ID</th>
            <th>Planet </th>
            <th>Number of Moons</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          {% for planet in planets %}
          <tr>
              <th scope="row">{{planet.id}}</th>
              <td>{{planet.planet}}</td>
              <td>{{planet.moon_number}}</td>
              <td>{{planet.description}}</td>

              <td>
                <a href="/planets-directory/edit/{{planet.id}}" class="btn btn-success" role="button" aria-disabled="true">Edit</a>
              </td>
              <td>
                 <a href="/planets-directory/delete/{{planet.id}}" class ="btn btn-danger" role="button" aria-disabled="true"> Delete</a>
             </td>

          </tr>

          {% endfor%}
        </tbody>
      </table>
    {% else %}
      <h3>There are no planets in the database yet.</h3>
    {% endif %}
  </div>

{% endblock%}
